<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>{% if form.instance.id %}Update the form below to edit product{% else %}Fill the form below to add product{% endif %}</p>
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_table }}
                  <input type="submit" class="btn btn-success" value="{% if form.instance.id %}Update{% else %}Create{% endif %}">
                </form>
              </div>
            </div>
          </div>
          <script src="" async defer></script>
        </body>
      </html>
      