{% extends "base.html" %}


{% block detail %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{product.photo.url}}" alt="{{product.name}}" style="width: 400px;height: auto;">
        </div>
        <div class="col-md-8">
            <p class="h4">{{product.name}}</p>
            <p style="color: green;"> Rs. {{product.price}}</p>
            <form method="POST" action="/add/to/cart/{{product.id}}/">
                {% csrf_token%}
                <input type ="number" name="quantity" placeholder="add quantity" value=1>
                <input type="submit" class="btn btn-success" value="Add to Cart">
        </div>
    </div>
</div>
{% endblock %}